.index-cover{
    background: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 100%;
    display: table;
}
.index-cover .index-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.index-cover .index-container ._title{
    margin: 0;
    margin-bottom: 56px;
    font-size: 72px;
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}
.index-cover .index-container .btn{
    padding: 8px 20px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    margin: 0px 8px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24), 0 1px 0 0 rgba(0, 0, 0, 0.12);
}
.btn.btn_light{
    background-color: #AAABD3;
    color: white;
}
.btn.btn_dark{
    background-color: #353866;
    color: white;
}